.view-order-container {
    background-color: #f8f9fa;
    padding: 20px;
  }
  
  .table-adjust td,
  .table-adjust th {
    padding: 10px;
  }
  
  .table-adjust thead th {
    background-color: #f5f5f5;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button-container button {
    margin-right: 10px;
  }
  